/*Barra de Navegacion*/
.navbar.navbar-fixed-top{
    border-bottom: 3px solid #746D6E;
    background-color:#FFFAFA;
}

.navbar.navbar-fixed-top{
	font-family:'Roboto', sans-serif;
    font-size: 15px;
}
.nav.navbar-nav.navbar-right li a{
    color:#526666;
    letter-spacing: 1px;
    padding-left:20px;
    padding-right:20px;
}
.nav.navbar-nav li a:hover{
    background-color:#708090;
    text-decoration: none;
    color:#F4F3F3;
}
#nav{
	display:inline-block;
	margin-top:15px;
	margin-left:15px;
	font-family:'Roboto', sans-serif;
    font-size: 15px;
	
}
#logo{
	margin-top:0px;
}
/*Pagina de votacion*/
html{
	width:100%;
	height:100%;
	background-color:#FFEBCD;
}
.voto{
	margin-top:60px;
	background-color:#FFEBCD;
}
h1{
	font-family:'Roboto', sans-serif;
    font-size: 40px;
    text-align:center;
}
h2{
	font-family:'Roboto', sans-serif;
    font-size: 40px;
}

#subtitulo{
	margin-bottom:15px;
	margin-top:10px;
    font-size: 40px;
}
#tabla1 td{
		font-family:'Roboto', sans-serif; 
	font-size:20px; 
}
#tabla1 tr:nth-child(odd){
	border:none;
	background-color:#D3D3D3;
}
#tabla1 tr:nth-child(even){
	border: none;
	background-color: #526666;
	color:white;
}
#btn1{
	font-family:'Roboto', sans-serif; 
	font-size:20px; 
	padding:5px; 
	padding-right:30px; 
	padding-left: 30px;
		margin-bottom:20px;
	
}
#btn2{
	font-family:'Roboto', sans-serif; 
	font-size:20px; 
	padding:5px; 
	padding-right:30px; 
	padding-left: 30px;
	margin-bottom:20px;
}
#alerta{
	margin-top:40px;
	font-size:40px;
}
#enlace{
	text-decoration: none;
}