<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>VotoElectronicoETSIT</servlet-name>
		<servlet-class>com.upm.isst.voto.VotoElectronicoETSITServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VotoElectronicoETSIT</servlet-name>
		<url-pattern>/votoelectronicoetsit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CensoServlet</servlet-name>
		<servlet-class>com.upm.isst.voto.CensoServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet> 
	
	<servlet>
		<servlet-name>ControlLogin</servlet-name>
		<servlet-class>com.upm.isst.voto.ControlLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlLogin</servlet-name>
		<url-pattern>/controlLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControlRegistro</servlet-name>
		<servlet-class>com.upm.isst.voto.ControlRegistroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlRegistro</servlet-name>
		<url-pattern>/controlRegistro</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnviarVoto</servlet-name>
		<servlet-class>com.upm.isst.voto.EnviarVotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnviarVoto</servlet-name>
		<url-pattern>/enviarVoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>comprobarCert</servlet-name>
		<servlet-class>com.upm.isst.voto.comprobarCert</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>comprobarCert</servlet-name>
		<url-pattern>/comprobarCert</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>confirmacionVoto</servlet-name>
		<servlet-class>com.upm.isst.voto.confirmacionVoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>confirmacionVoto</servlet-name>
		<url-pattern>/confirmacionVoto</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>VotoElectronicoETSIT.jsp</welcome-file>
	</welcome-file-list>
</web-app>
