<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Registro</web-resource-name>
			<url-pattern>/comprobarCert</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
		<user-data-constraint>
				<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<!--<login-config>	
		<auth-method>CLIENT-CERT</auth-method>
	</login-config> -->
	<servlet>
		<servlet-name>VotoElectronicoETSIT</servlet-name>
		<servlet-class>com.upm.isst.voto.VotoElectronicoETSITServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VotoElectronicoETSIT</servlet-name>
		<url-pattern>/votoelectronicoetsit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CensoServlet</servlet-name>
		<servlet-class>com.upm.isst.voto.CensoServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet> 
	
	<servlet>
		<servlet-name>ControlLogin</servlet-name>
		<servlet-class>com.upm.isst.voto.ControlLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlLogin</servlet-name>
		<url-pattern>/controlLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControlRegistro</servlet-name>
		<servlet-class>com.upm.isst.voto.ControlRegistroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlRegistro</servlet-name>
		<url-pattern>/controlRegistro</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControlVoto</servlet-name>
		<servlet-class>com.upm.isst.voto.ControlVoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlVoto</servlet-name>
		<url-pattern>/controlVoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnviarVoto</servlet-name>
		<servlet-class>com.upm.isst.voto.EnviarVotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnviarVoto</servlet-name>
		<url-pattern>/enviarVoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>comprobarCert</servlet-name>
		<servlet-class>com.upm.isst.voto.comprobarCert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>comprobarCert</servlet-name>
		<url-pattern>/comprobarCert</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>VotoElectronicoETSIT.jsp</welcome-file>
	</welcome-file-list>
</web-app>
